.navbar {
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  background: #cadbf0;
}

.navbar__logo {
  text-align: center;
  padding: 5px 30px;
}

.navbar a {
  text-decoration: none;
  color: #002d65;
  width: 100px;
  display: block;
  padding: 10px 6px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.navbar__menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding-left: 0;
}

.navbar__menu li {
  padding: 5px 30px;
}

.navbar__menu a:hover {
  background: white;
}

.navbar__icons {
  list-style: none;
  display: flex;
  margin: 0;
}

/*배경*/
.postit {
  width: 800px;
  height: 1100px;
  left: 150px;
  top: -10px;
  position: absolute;
  opacity: 0.15;
}

.postit2 {
  width: 800px;
  height: 1100px;
  left: 990px;
  top: -10px;
  position: absolute;
  opacity: 0.1;
}

/*하단바 요소*/
#footer {
  display: flex;
  height: 80px;
  justify-content: center;
  clear: left;
  align-items: center;
  background: #ffffff;
  color: #333;
}

#wrap {
  width: 500px;
  height: 500px;
  background-color: #cadbf0;
  border-radius: 30px;
  padding: 10px;
}

.box {
  text-align: center;
}

.box p {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.box1 img {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#article_box {
  padding: 20px 170px;
}
#article_box h1 {
  font-family: "Noto Sans KR", sans-serif;
  color: #002d65;
  font-weight: 900;
}

#article_box p {
  font-family: "Noto Sans KR", sans-serif;
  color: black;
  font-weight: 350;
}

#sort div {
  width: 100px;
  display: flex;
  justify-content: center;
}

.checkbox-container {
  display: flex;
  justify-content: center;
  gap: 40px;
}

#preview {
  text-align: center;
  font-size: 60px;
  color: #002d65;
  font-weight: bold;
}
