body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
/* 헤더요소 */
.navbar {
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  background: #cadbf0;
}

.navbar__logo {
  text-align: center;
  padding: 5px 30px;
}

.navbar a {
  text-decoration: none;
  color: #002d65;
  width: 130px;
  display: block;
  padding: 10px 6px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.navbar__menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding-left: 0;
}

.navbar__menu li {
  padding: 5px 30px;
}

.navbar__menu a:hover {
  background: white;
}

.navbar__icons {
  list-style: none;
  display: flex;
  margin: 0;
}
#wrap {
  width: 90%;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
}

/* 사이드바 요소  */
#side {
  flex: 0 0 300px;
  height: 600px;
  background: white;
  margin: 30px 10px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
#side img {
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#side h2 {
  font-family: "Noto Sans KR", sans-serif;
  color: darkblue;
}
#myprofile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-style: border-box;
  border: solid 2px rgb(163, 163, 163);
  border-radius: 5px;
}
#myprofile p {
  font-family: "Noto Sans KR", sans-serif;
  font-size: large;
}

/* 섹션요소 */
#section {
  flex: 0 0 700px;
  height: 600px;
  background: white;
  margin: 30px 0px;
  padding-top: 48px;
}
#list h2 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 25px;
  padding-top: 20px;
  padding-left: 20px;
  margin-bottom: 20px;
  display: inline;
}

#mywrite {
  border-style: border-box;
  border: solid 2px rgb(163, 163, 163);
  border-radius: 5px;
  margin-bottom: 10px;
  flex-direction: column;
  overflow-y: auto;
  max-height: 310px;
}
#mycomments {
  border-style: border-box;
  border: solid 2px rgb(163, 163, 163);
  border-radius: 5px;
  flex-direction: column;
  overflow-y: auto;
  max-height: 200px;
}
#postList {
  display: inline;
  list-style: none;
  padding: 20px;
  margin: 0;
}
#postList li {
  margin-bottom: 10px;
  margin-left: 20px;
  position: relative;
}

#postList li::before {
  content: "";
  position: absolute;
  top: 0;
  left: -5%;
  height: 100%;
  width: 3.5px;
  background-color: #ccc;
}

/*하단바 요소*/
#footer {
  display: flex;
  height: 80px;
  justify-content: center;
  clear: left;
  align-items: center;
  background: #ffffff;
  color: #333;
}

/* 버튼요소 */
.delete-button,
.edit-button {
  background-color: #ffffff;
  font-family: "Noto Sans KR", sans-serif;
  border: none;
  border-radius: 3px;
  transition: background-color 0.1s ease;
  cursor: pointer;
  display: inline-block;
}

.delete-button {
  color: rgb(213, 26, 26);
}

.edit-button {
  color: rgb(18, 10, 161);
}

.delete-button:hover,
.edit-button:hover {
  background-color: rgb(201, 195, 195);
  color: rgb(255, 255, 255);
}

.button-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

/* 수정 form */
#editForm {
  display: none;
  margin-top: 10px;
  margin-bottom: 50px;
}

#editContent {
  resize: none;
  width: 98%;
  padding: 5px;
  border-style: border-box;
  border: solid 2px rgb(163, 163, 163);
  border-radius: 5px;
}

#editSubmitBtn {
  background-color: darkblue;
  color: #ffffff;
  font-family: "Noto Sans KR", sans-serif;
  border: none;
  border-radius: 3px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.1s ease;
  margin-top: 5px;
}

#editSubmitBtn:hover {
  background-color: #b9b9b9;
  color: darkblue;
}
