<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Do+Hyeon&family=Inter:wght@500;900&family=Nanum+Gothic:wght@800&family=Noto+Sans+KR:wght@900&family=Secular+One&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/src/main/resources/static/css/login.css"
    />
    <link
      rel="icon"
      type="image/png"
      href="/src/main/resources/static/images/logo2.png"
    />
    <title>김춘삼 로그인페이지</title>
    <script
      src="https://kit.fontawesome.com/b71264a403.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div
      style="width: 1366x; height: 768px; position: relative; background: white"
    >
      <div class="title">"너 내거를 사가라!"</div>
      <div class="detail">
        내 농산품을 여러 사람한테 알리고 싶다면 여기로 들어오세요!
      </div>

      <button class="login_button" type="button" onclick="login()">
        로그인하슈
      </button>
      <button class="signup_button" type="button" onclick="signup()">
        회원가입하슈
      </button>

      <div class="id-container">
        <div class="id-label">이메일</div>
        <div class="id-field">
          <div class="id-bg"></div>
          <input type="text" id="id" placeholder=" 이메일을 입력하세요" />
        </div>
      </div>
      <div class="pw-container">
        <div class="pw-label">비밀번호</div>
        <div class="pw-field">
          <div class="pw-bg"></div>
          <div class="content">
            <input
              type="password"
              id="password"
              placeholder=" 비밀번호를 입력하세요 (6~16자)"
            />
            <span class="show-hide">
              <i class="fa fa-eye"></i>
            </span>
          </div>
        </div>
      </div>

      <img
        class="logo"
        style="height: 177.8px; width: 347.9px; margin-top: -90px"
        src="/src/main/resources/static/images/logo.png"
      />
      <img class="postit" src="/src/main/resources/static/images/post it.png" />
    </div>

    <script src="/src/main/resources/static/js/login.js"></script>
  </body>
</html>
