<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link th:href="@{/main.css}" rel="stylesheet" />
    <link
      th:href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="icon" type="image/png" th:href="@{/img/logo2.png}" />
    <title>MJ_moment</title>
  </head>
  <body>
    <script
      th:src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>

    <!-- header (nav-bar)-->
    <nav class="navbar">
      <div class="navbar__logo">
        <img src="img/logo(115x30).png" />
      </div>

      <ul class="navbar__menu">
        <li class="nav-item"><a class="nav-link" href="main.html">홈</a></li>
        <li class="nav-item"><a class="nav-link" href="#">소개</a></li>
        <li class="nav-item"><a class="nav-link" href="#">공지사항</a></li>
        <li class="nav-item"><a class="nav-link" href="">건의하기</a></li>
        <li class="nav-item">
          <a class="nav-link" href="page.html">건의목록</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="mypage.html">마이페이지</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="login.html">로그인</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="signup.html">회원가입</a>
        </li>
      </ul>

      <ul class="navbar__icons">
        <li class="nav-item">
          <a class="nav-link" href="#"><img src="img/search-icon.png" /></a>
        </li>
      </ul>
    </nav>

    <!-- preview-->
    <br />
    <h1 id="preview">Preview</h1>

    <!-- HTML 코드 -->
    <div class="container">
      <div class="row">
        <div class="col">
          <!-- 체크박스 컨테이너 -->
          <div class="checkbox-container">
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="flexRadioDefault"
                id="flexRadioDefault1"
                style="font-size: 20px"
              />
              <label
                class="form-check-label"
                for="flexRadioDefault1"
                style="font-size: 20px"
                >최다동의 순</label
              >
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="flexRadioDefault"
                id="flexRadioDefault2"
                style="font-size: 20px"
              />
              <label
                class="form-check-label"
                for="flexRadioDefault2"
                style="font-size: 20px"
                >최근공개 순</label
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <br /><br />
    <!--건의 top10-->
    <div class="container-fluid text-center" id="article_box">
      <div class="row justify-content-center">
        <div class="col">
          <div id="wrap">
            <div class="box1">
              <span title="1" class="best1">
                <img src="img/1.png" alt="number" />
              </span>
              <article id="box">
                <h1>Disney</h1>
                <br /><br />
                <p>월트 디즈니가 만든회사로 대표적인 캐릭터는 미키마우스다.</p>
              </article>
            </div>
          </div>
        </div>

        <div class="col">
          <div id="wrap">
            <div class="box1">
              <span title="1" class="best1">
                <img src="img/2.png" alt="number" />
              </span>
              <article id="box">
                <h1>Disney</h1>
                <br /><br />
                <p>월트 디즈니가 만든회사로 대표적인 캐릭터는 미키마우스다.</p>
              </article>
            </div>
          </div>
        </div>

        <div class="col">
          <div id="wrap">
            <div class="box1">
              <span title="1" class="best1">
                <img src="img/3.png" alt="number" />
              </span>
              <article id="box">
                <h1>Disney</h1>
                <br /><br />
                <p>월트 디즈니가 만든회사로 대표적인 캐릭터는 미키마우스다.</p>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- footer-->
    <br /><br /><br />
    <div id="footer">
      <p>명지대학교 건의사항 페이지 | 2023</p>
    </div>

    <script th:src="@{/main.js}"></script>
  </body>
</html>
