<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      th:href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap"
      rel="stylesheet"
    />
    <link
      th:href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/src/main/resources/static/css/page.css"
    />
    <link
      th:href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      rel="stylesheet"
    />
    <link
      rel="icon"
      type="image/png"
      href="/src/main/resources/static/images/logo2.png"
    />
    <title>MJ_moment 메인페이지</title>
  </head>
  <body>
    <!-- header (nav-bar)-->
    <nav class="navbar">
      <div class="navbar__logo">
        <a href="/src/main/resources/templates/home.html"
          ><img src="/src/main/resources/static/images/logo(115x30).png"
        /></a>
      </div>

      <ul class="navbar__menu">
        <li class="nav-item">
          <a class="nav-link" href="/src/main/resources/templates/main.html"
            >소개</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/src/main/resources/templates/page.html"
            >건의하기</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/src/main/resources/templates/mypage.html"
            >마이페이지</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/src/main/resources/templates/login.html"
            >로그인</a
          >
        </li>
      </ul>

      <ul class="navbar__icons">
        <li class="nav-item">
          <a class="nav-link" href="#"
            ><img src="/src/main/resources/static/images/search-icon.png"
          /></a>
        </li>
      </ul>
    </nav>
    <br />

    <div id="board">
      <h2>학교가 불편할 때는, 언제였나요?</h2>
      <button id="writeButton">➡ 글 작성하러 가기</button>
      <div id="post-title"><p>게시물 목록</p></div>
      <div id="posts">
        <!-- 게시물 목록이 여기에 추가될 예정 -->
      </div>
    </div>

    <div id="modal" class="modal">
      <div class="modal-content">
        <!-- 모달 내용이 여기에 추가될 예정 -->
      </div>
    </div>

    <div id="footer">
      <p>명지대학교 건의사항 페이지 | 2023</p>
    </div>
    <script src="/src/main/resources/static/js/page.js"></script>
  </body>
</html>
